.album_grid_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 50px;
  
  .album_wrapper {
    position: relative;

    img {
      opacity: .6;
    }

    .album_name {
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: bold;
      z-index: 1;
      padding-left: 15px;
    }
  }
}